header{
    height: 60px;
}

header h1{
    font-size: 36px;
    letter-spacing: 40px;
    text-transform: uppercase;
}

header h2{
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: lowercase;
    margin: 0px;
}

header div{
    position: absolute;
}
#header_1{
    left: 30px;
    top: 10px;
}

#header_2{
    right: calc(2 * 100% / 3 - 100px);
    top: 10px;
}

#header_3{
    right: calc((2 * 100% / 3) / 2 - 50px);
    top: 20px;
}

#header_4{
    right: 10px;
    top: 30px;
}

nav{
    float: left;
    width: 270px;
    overflow: auto;
    height: calc(100vh - 60px - 30px);
}

nav a{
    display: block;
}

nav>a{
    font-size: 14pt;
    padding: 5px 5px;
    width: 238px;
    border: 1px solid #000000;
    border-top: none;
}

nav>a:first-child{
    border-top: 1px solid #000000;
}

nav>div{
    width: 248px;
    border: 1px solid #000000;
    border-top: none;
}

nav>div>a{
    font-size: 12pt;
    padding: 4px 5px 4px 10px;
    width: 233px;
}

nav a:link, nav a:visited, nav a:active, nav a:hover{
    color: #680148;
    text-decoration: none;
}

nav a:active, nav a:hover, nav a.active{
    color: #ffffff;
    background-color: #680148;
    transition: color 0.5s, background-color 0.5s;
}

nav a:link, nav a:visited{
    transition: color 1s, background-color 1s;
}

.mobil_navigathion{
display: none;
width: 270px;
background-color: coral;
float: left;
overflow: auto;
height: 210px;}
.mobil_lin{
    color: black;
    display: block;
    font-size: 14px;
    padding: 5px 5px;
    width: 238px;
    border: 1px solid black;
    border-top: none;
    text-decoration: none;
}
.mobil_navigathion>.mobil_lin:first-child {
    border-top: 1px solid black
}
.mobil_navigathion>div{
    width: 248px;
    border: 1px solid black;
    border-top: none;
}
 .mobil_lin_div{
    font-size: 12pt;
    padding: 4px 5px 4px 10px;
    width: 233px;
    display: block;
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: white;
    text-decoration: none;
    background-color: black;
    transition: color 0.5s, background-color 0.5s;
}
section{
    float: right;
    width: calc(100vw - 270px - 10px);
    height: calc(100vh - 60px - 30px - 10px);
}
p, div, pre, li, th, td{
    font-size: 10pt;
}
h6 { font-size: 12pt; }
h5 { font-size: 14pt; }
h4 { font-size: 16pt; }
h3 { font-size: 18pt; }
h2 { font-size: 20pt; }
h1 { font-size: 22pt; }

a:hover, a:active {
text-decoration: underline;
}

a:link, a:visited{
    text-decoration: none;
}

input, textarea, select {
    font-size: 10pt;
}
input [type=submit], input [type=button], input [type=reset] {
    cursor: pointer;
}
footer {
    clear: both;
    padding: 8px;
    height: 14px;
}
footer p{
    font-size: 10pt;
}
.lightbox a:link, .lightbox a:visited{
    opacity: 0.7;
    transition: opacity 0.5s;
}
.lightbox a:active, .lightbox a:hover{
    opacity: 1;
    transition: opacity 0.5s;
}
#lightbox_close a:active, #lightbox_close a:hover {
    color: #000000;
}
.tab-header{
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    z-index: 99;
}
.tab-header a{
    display: block;
    float: left;
    padding: 5px 8px;
    border: 1px solid #7db4b5;
    border-left: none;
}
.tab-header a:first-child {
    border-left: 1px solid #7db4b5;
}
.tab-header a.active {
border-bottom: 1px solid #ffffff
}
.tab-header a:link, .tab-header a:visited, .tab-header a:active, .tab-header a:hover{
    text-decoration: none;
}
.tab-header a:link, .tab-header a:visited{
    color: #680148;
    transition: color 0.5s;
}
.tab-header a:active, .tab-header a:hover{
    color: #000000;
    transition: color 0.5s;
}
.tab-content {
    border: 1px solid #7db4b5;
    clear: both;
    position: relative;
    top: -1px;
}
.tab-content div.tab{
    width: calc(100% - 20px);
    padding: 10px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
.tab-content div.tab-visible{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}